address, blockquote, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, pre, ul {
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

a, abbr, b, bdi, bdo, cite, code, data, del, dfn, em, i, ins, kbd, mark, q, rp, rt, rtc, ruby, s, samp, small, span, strong, sub, sup, time, var {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: baseline;
}

body {
    border: 0;
    font-size: 1em;
    orphans: 2;
    padding: 0;
    widows: 2;
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, dt, hr {
    page-break-inside: avoid;
    break-inside: avoid;
    page-break-after: avoid;
    break-after: avoid;
}

h1, h2, h3, h4, h5, h6, abbr, dt, pre, address, table, caption, th, td {
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -epub-hyphens: none;
    hyphens: none;
}

h1 {
    font-size: 1.5em;
    margin: 0 0 2em;
}

h2, h3, h4, h5, h6 {
    margin: 1.5em 0 .5em;
}

h2 {
    font-size: 1.4em;
}

i, em, cite, dfn {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 0 0.75em;
    padding: 0 0 0.5em 0;
    display: block;
}

.abbr-table td {
    vertical-align: top;
}

.section-title {
    font-size: 3em;
    margin: 40% 0 0;
    text-align: center;
}

.letter-toc-title {
    margin: 0;
}

.space-start {
    margin-top: 25%;
}

.space-10 {
    padding-top: 1em;
}

.space-25 {
    padding-top: 2.5em;
}

.no-intent {
    text-indent: 0;
}