body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

.alias {
    font-style: italic;
}

.descripcion {
    margin-top: 20px;
    text-align: justify;
}